<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Info Box Menus</title>
</head>

<!-- Category Menu -->
<body>
    <div class="category-menu">
        <form>
            <label for="category">Choose place category</label>
            <select id="category" name="category">
                <option value="breaky">Breakfast spot</option>
                <option value="lunch">Lunch place</option>
                <option value="dinner">Dinner spot</option>
                <option value="streetfood">Street Food or Snack</option>
                <option value="dessert">Dessert place</option>
                <option value="cafe">Cafe</option>
                <option value="night">Nightlife</option>
                <option value="bar">Bar or pub</option>
                <option value="train">Train station</option>
                <option value="shop">Shopping</option>
                <option value="books">Bookstore or library</option>
                <option value="museum">Museum</option>
                <option value="history">Historical landmark</option>
                <option value="photo">Photo spot</option>
                <option value="temple">Temple/shrine/worship</option>
                <option value="entertain">Entertainment</option>
                <option value="music">Music venue</option>
                <option value="bath">Sento/onsen/hotspring</option>
                <option value="beach">Beach</option>
                <option value="park">Park</option>
                <option value="workspace">Workspace</option>
                <option value="covid">COVID Testing center</option>
                <option value="misc">Miscellaneous</option>
            </select>
            <input type="submit" value="Add to Saved Places">        
        </form>
    </div>

    <!-- Itinerary Menu -->
    <div class="itinerary-menu">
        <form>
            <label for="in_itinerary">Add to itinerary</label>
            <select id="in_itinerary" name="in_itinerary">
                <option value="day-1">Day 1</option>
                <option value="day-2">Day 2</option>
                <option value="day-3">Day 3</option>
                <option value="day-4">Day 4</option>
                <option value="day-5">Day 5</option>
                <option value="day-6">Day 6</option>
                <option value="day-7">Day 7</option>
            </select>
            <input type="submit" value="Add to Itinerary">        
        </form>
    </div>

    <!-- Special Note from User -->
    <div class="notes">
        <form>
            <label for="notes">Notes:</label>
            <input type="text" id="notes" name="notes">
            <input type="submit" value="Add Special Note">
        </form>
    </div>
</body>
</html>