 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 16px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Manjari', sans-serif;
    font-size: 28px;
    color: black;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #779867;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-family: 'Manjari', sans-serif;
    font-size: 28px;
    color: white;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #ee89d8;
    color: black
  }
  
  /* Add a background color and some padding around the form */
  .container {
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: rgb(255, 255, 255, 0.85);
    padding: 20px;
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 200px;
    width: 1000px; 
  }
  
  h1 {
    font-family: 'Deserved';
    font-size: 60px;
    background-image: linear-gradient(#779867, #158a8b, #ee89d8, #fea484, #f2fc45);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    color: transparent;
}

label {
    font-family: 'Manjari', sans-serif;
    font-size: 28px;
    color: black;
}

#contact-envelope {
    width: 85px;
    height: 85px;
}

body {
    background-image: url("/static/img/backgrounds/about-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;    
}