html, body {
    margin: 20;
    width: 100%;
    height: 100%;
  }
  
  .map,
  #map {
    width: 100%;
    height: 650px; 
  }
  
  .sp-map,
  #sp-map {
    width: 100%;
    height: 650px; 
  }

  .sp-h1 {
    font-family: 'Deserved';
    font-size: 58px;
    background-image: linear-gradient(#779867, #158a8b, #ee89d8, #fea484, #f2fc45);
    background-clip: text;
    color: transparent;
}
h2 {
    font-family: 'Manjari', sans-serif, cursive;
    font-size: 35px;
}
h3 {
    font-family: 'Manjari', sans-serif, cursive;
    font-size: 25px;
} 
#search-title {
  font-family: 'Manjari', sans-serif;
  font-size: 22px;
}
#place-info-menu {
  display: none;
  background-image: linear-gradient(#f2fc45, #fea484, #ee89d8);
}
#notes-title {
  font-family: 'Manjari', sans-serif;
  font-size: 20px; 
}

body {
  background-image: url("/static/img/backgrounds/9-td-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.welcome {
  background-color: rgb(255, 255, 255, 0.85);
  border-radius: 16px;
  align-content: center;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: .5rem;
}