.date-tables {
    display: flex;
    align-items: center;
    padding: 2rem;
    overflow-x: scroll;
}
.col-5 {
    align-items: center;
}

.date-tables::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.date-tables::-webkit-scrollbar-thumb {
    background: #8fbf97;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px #8fbf97 (0,0%,100%,.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.date-tables::-webkit-scrollbar-track {
    background-image: linear-gradient(to right, #779867, #158a8b, #ee89d8, #fea484, #f2fc45);
}

.itin-by-day {
    background: white;
    width: 400px;
    height: 600px;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: -1rem 0 3rem #158a8b;
    display: flex;
    flex-direction: column;
    transition: .2s;
    overflow-x: hidden;
}

.itin-by-day::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.itin-by-day::-webkit-scrollbar-thumb {
    background: #779867;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px #779867 (0,0%,100%,.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.itin-by-day::-webkit-scrollbar-track {
    background-image: linear-gradient(#779867, #158a8b, #ee89d8, #fea484, #f2fc45);
}
    
#saved-places-by-trip {
    background: white;
    width: 420px;
    height: 600px;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: -1rem 0 3rem #ee89d8;
    display: flex;
    flex-direction: column;
    transition: .2s;
    overflow-x: hidden;
    margin: 2rem;
}

.saved-places-by-trip::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.saved-places-by-trip::-webkit-scrollbar-thumb {
    background: #fea484;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px #fea484 (0,0%,100%,.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.saved-places-by-trip::-webkit-scrollbar-track {
    background-image: linear-gradient(#779867, #158a8b, #ee89d8, #fea484, #f2fc45);
}

.itin-by-day:focus-within~.card, .card:hover~.card {
transform: translateX(200px);
}

.itin-by-day:hover {
    transform: translateY(-1rem);
}

.itin-by-day:not(:first-child) {
    margin-left: -300px;
}

.place-name {
    padding: 5px; 
    background-size: 362px 73px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 73px;
    width: 362px;
}

.itin-date {
    font-size: 30px;
    font-family: 'Deserved';
    color: black;
}
.itin-date-back {
    background-image: url("/static/img/cards/suitcase-banner-4.png");
    background-size: 362px, 73px;
    background-repeat: no-repeat;
    height: 73px;
    width: 362px;
}
.category-back {
    background-size: 362px, 73px;
    background-repeat: no-repeat;
    height: 73px;
    width: 362px;
}
.place-back {
    background-size: 362px, 73px;
    background-repeat: no-repeat;
    height: 73px;
    width: 362px; 
}
h1 {
    font-family: 'Deserved';
    font-size: 58px;
    background-image: linear-gradient(#779867, #158a8b, #ee89d8, #fea484, #f2fc45);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    color: transparent;
}
h2 {
    font-family: 'Manjari', sans-serif;
    font-size: 35px;
}
h3 {
    font-family: 'Manjari', sans-serif;
    font-size: 25px;
}
h4 {
    font-family: 'Deserved';
    font-size: 35px; 
}
h5 {
    font-family: 'Manjari', sans-serif;
    font-size: 22px;
}
h6 {
    font-size: 25px;
    font-family: 'Manjari', sans-serif;
    color: black;
}
#new-pic, .smaller-h4 {
    font-family: 'Deserved';
    font-size: 30px; 
}

#trip-pic {
    width: 200px;
    border-radius: 35px;
}

#top-col-1, #top-col-2, #top-col-3 {
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 16px;
    padding: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
    margin-bottom: 17px;
    align-content: center;
}
#top-col-2 {
    margin-left: 30px;
    margin-right: 30px;
}

.trip-user-list {
    display: flex;
    flex-wrap: wrap;
}
.tu-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 15px;
}
#ohana-lokahi-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 1;
    display: block;
    transition: .5 ease;
    backface-visibility: hidden;
}
.tu-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(#779867, #158a8b, #ee89d8, #fea484, #f2fc45);
}
  
.tu-container:hover .tu-middle {
    opacity: 0.75;
}
  
.trip-user-name {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;    
}

.trip-org-container {
    position: relative;
    width: 50%;
}
#trip-org-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 1;
    display: block;
    transition: .5 ease;
    backface-visibility: hidden;
}
.trip-org-mid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(#779867, #158a8b, #ee89d8, #fea484, #f2fc45);
}
  
.trip-org-container:hover .trip-org-mid {
    opacity: .85;
}
  
.trip-org-name {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.category {
    font-size: 30px;
    font-family: 'Deserved';
    color: black;
}
.sp-title {
    font-family: 'Deserved';
    font-size: 40px; 
}
#trip-img-upload-button {
    background-image: url("/static/img/buttons/3-trip-photo.png");
    background-size: 256px, 52px;
    background-repeat: no-repeat;
    height: 52px;
    width: 256px;
    cursor: pointer;
    margin: 10px;
}
#upload-img-button {
    background-image: url("/static/img/buttons/6-upload-photo.png");
    background-size: 256px, 52px;
    background-repeat: no-repeat;
    height: 52px;
    width: 256px;
    cursor: pointer;
    margin: 10px;
}

body {
    background-image: url("/static/img/backgrounds/9-td-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.welcome {
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 16px;
    align-content: center;
    width: auto;
    height: auto;
    margin: 10px;
    padding: .5rem;
}
.welcome-2 {
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 16px;
    align-content: center;
    width: auto;
    height: auto;
    margin: 2px;
    padding: .5rem;
}
