{% extends 'base.html' %}
{% block title %}Lōkahi Emojipedia{% endblock %}

{% block head %}
<link href="/static/css/emojipedia.css" rel="stylesheet">
<style></style>
{% endblock %}

<!-- NAVBAR -->
{% include 'navbar.html' %}

{% block body %}

<div class="container-fluid">

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/1-breakfast-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                   Breakfast: SPAM, Eggs, and Rice (with Furikake) 
                </b> 
                    The classic breakfast of Hawai’i! My favorite way to have it 
                    is to add a bunch of ketchup to the rice too.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/2-lunch-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Lunch: Saimin/Ramen
                </b> 
                    In Hawai'i we have our own version of ramen that we call “saimin” 
                    which originates from the 1800s, the sugarcane era. A soft boiled egg 
                    is more common in ramen in Japan, but it’s a tasty addition I couldn’t leave out.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/3-dinner-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Dinner: Laulau, Poi, Lomi Lomi Salmon, and 'Āweoweo
                </b> 
                    Laulau is usually made with a piece of pork and salted butterfish that get wrapped in lu’au 
                    (taro) leaves and then wrapped in ti leaves and steamed. The ti leaf isn’t eaten (it’s used 
                    as a package to hold in the steam). Poi, a staple starch in the Hawaiian diet, is made from 
                    the taro root that is mashed and pounded with water before being fermented. Lomi lomi salmon 
                    is named for the Hawaiian word “lomi-lomi” which means “to massage” as the ingredients are 
                    gently massaged or mixed together by hand. 'Āweoweo (“ah vay oh vay oh”) also known as the 
                    Hawaiian glasseye fish, has a special place in my heart. When I was growing up my grandma would 
                    always tell me stories about ‘āweoweo and how her favorite time to eat it was when my grandpa and 
                    his friends would go spearfishing to catch them. Undoubtedly it’s a delicious fish, but I recently 
                    saw old photos of my grandpa when he was in his early twenties with his prized catch. So this is my 
                    Hawaiian dinner plate full of ‘ono grindz (delicious food).
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/4-streetfood-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Streetfood: Hanami and Mitarashi Dango
                </b> 
                    Mochi will always have my heart. This Japanese chewy sweet dessert 
                    made from pounded rice was always my favorite while I was growing up. 
                    When I finally got to travel to Japan for the first time, the only thing 
                    I wanted to eat was mochi of all kinds and I have fond memories of eating 
                    fresh kinako dango (mochi on a stick covered in sweet soybean flour) on 
                    Nakamise-dori in Asakusa and yakidango (mochi grilled over a charcoal fire 
                    with soy sauce flavor) and an-dango (mochi covered in sweet azuki beans) at 
                    Habutae Dango in Nippori.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/5-dessert-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Dessert: Shave Ice
                </b> 
                    Shave ice is Hawaii’s version of Japanese kagigori, a dessert made of ice 
                    shavings that are topped with homemade syrups. My favorite shave ice has 
                    to be from Shimazu’s in Oahu because they have the best azuki beans that 
                    they put on the bottom with a scoop of vanilla ice cream and amazing haupia
                     (coconut pudding) cream, mochi, and li hing mui (dried sour plum powder) 
                     that you can get on top.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/6-cafe-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Cafe: Coconut Coffee
                </b> 
                    While Kona coffee is definitely famous, coconut coffee isn’t exactly 
                    traditional, but it was my fun way to make a distinctly Hawaiian style 
                    cafe emoji. Although I <strong>have</strong> been known to make coffee 
                    with coconut milk and a little bit of coconut syrup.
            </p>
        </div>
    </div>
    
    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/7-nightlife-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Nightlife: Disco/Mirror Ball
                </b> 
                    Not Hawaiian or Japanese themed, but I had to make my own version of the 
                    disco ball (or mirror ball) emoji. Who doesn’t love a good ol’ time down 
                    at the discotheque though?
            </p>
        </div>
    </div>
    
    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/8-bar-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Bar or Pub: Tiki Drink
                </b> 
                    The history of “tiki culture” is honestly a bit controversial and there are 
                    quite a lot of Native Hawaiians who don’t like it. But as someone who is part 
                    Hawaiian and grew up on the mainland, I always enjoyed seeing the different ways 
                    people celebrated Polynesian culture through their love of tiki drinks in modern 
                    times. Just be sure to stay educated, kids.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/9-shopping-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Shopping: International Marketplace Bag
                </b> 
                    The International Marketplace in Waikiki is sadly no longer the magical place it was 
                    when I was a kid. My grandma and mom used to have a business selling bags and so I 
                    designed a shopping bag emoji inspired by the old International Marketplace, 
                    reminiscent of one of the beautiful bags they designed.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/10-grocery-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Grocery Store: The Thank You Bag
                </b> 
                    Inspired by the pink ‘Thank You’ shopping bags of my childhood this grocery bag is full 
                    of Hawaiian sweet rolls, sugarcane, and a small bunch of apple bananas.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/11-kombini-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Convenience Store: Ube Slush
                </b> 
                    I’ll confess, I really love to visit convenience stores in other countries. From Zabka in 
                    Poland, to corner shops in the UK, to the magical world of the konbini in Japan, I love 
                    convenience stores. They are great for just grabbing something quick to drink or snack on. 
                    So I needed to have this category and represent it with the mystical ube slush that, as far 
                    as I know, is only found at a certain popular convenience store chain in Hawai’i.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/12-farmers-market-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Farmer’s Market/Outdoor Market: Bolga Basket of Goods
                </b> 
                    I love to find a local farmer’s market when I’m traveling because you can always find 
                    some wonderful local food and great fresh produce. I have an African bolga basket at 
                    home that I use for every trip to the grocery store and farmer’s market, so I had to 
                    include it in the default emojis. This bolga basket is full of Molokai hot bread, a 
                    golden Maui pineapple, and a bundle of red ginger and heliconia flowers. It’s an ode 
                    to my favorite finds at Hawaiian farmer’s markets and my Grandma who loves Hawaiian 
                    flowers and worked at a pineapple cannery as a teenager.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/13-bazaar-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Bazaar/Covered Market: Crates of Papayas
                </b> 
                    If it isn’t obvious, I love to find great food when I travel. When it comes to food 
                    I’ve found that covered markets and bazaars are in a class of their own. From the 
                    mercados of Mexico to the spice bazaars of Türkiye, you can find so many amazing things 
                    in the labyrinths that are covered markets. The crates of papayas represent the food 
                    sections in covered markets but so many markets are full of things beyond food and they 
                    all hold a special place in my heart.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/14-bookstore-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Bookstores/Libraries: Book
                </b> 
                    I will admit that I like to do a bit of shopping when I travel, but I especially like 
                    to check out local bookstores and libraries. Sometimes I can’t speak the language, but 
                    I love to see what treasures local bookstores hold. There are times you’ll find secret 
                    cafes inside, or beautiful postcards made by a local artist, or sometimes you’ll find 
                    the most perfect nook with a fireplace and comfy armchair in a bookstore that seems 
                    chaotically full of books, or you may stumble upon a local poetry reading, or the 
                    bookstore or library itself will be in the most beautifully designed building. I don’t 
                    always bring a book home with me, just because of attempting to live out of a backpack 
                    while traveling, but bookstores and libraries will always be one of my favorite types 
                    of places to visit.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/15-train-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Train: Shinkansen
                </b> 
                    This train emoji is my own version of the Google bullet train emoji, but it’s style is 
                    reminiscent of the 0 Series Kodama shinkansen. My partner is a big train otaku (fan of 
                    trains) and while I have yet to actually take the shinkansen, I do love the Japanese trains 
                    I’ve been on. Trains of all kinds are always fun and I feel like it’s important to be able 
                    to mark the train stations you have to transit through or transfer at when you travel.
            </p>
        </div>
    </div>

    <div class="row" id="emoji-card">
        <div class="col-3" id="emoji-col">
            <img src="static/img/emojis/16-museum-emoji.png" id="emoji">
        </div>
        <div class="col-9">
            <p>
                <b>
                    Museum: Vase
                </b> 
                    Haven't written anything in this space yet, THIS IS A TEST
            </p>
        </div>
    </div>

<!-- END FLUID CONTAINER -->
</div>

<!-- JS SCRIPT TAGS -->

{% endblock %}