{% extends 'base.html' %}
{% block title %}Saved Places Map{% endblock %}

{% block head %}
<link href="/static/css/sp-maps.css" rel="stylesheet">
<style>
   
</style>
{% endblock %}

<!-- NAVBAR -->
{% include 'navbar-trip-sp.html' %}

<!-- START BODY/FLUID CONTAINER -->
{% block body %}
<div class="container-fluid">

    <!-- TITLE/TRIP NAME -->
    <div class="row">
        <div class="welcome">
            <div id="planner-title">
                <h1 class="sp-h1">Saved Places Map for: <span class="trip-name">{{ trip.trip_name }} </span></h1>
            </div>
             <!-- TRIP CITY, COUNTRY -->
             <div id="trip-place">
                <h2>
                    <span id="trip-city">
                        {{ trip.trip_city }}
                    </span>, <span id="trip-country">
                        {{ trip.trip_country }}
                    </span>
                </h2>
            </div>
            <!-- TRAVEL DATES -->
            <div id="trip-dates">
                <h3>
                    {{ trip.start_date.strftime('%b %d %Y') }} - {{ trip.end_date.strftime('%b %d %Y') }}
                </h3>
             </div>
        </div> 
    </div>
   

    <!-- MAP OF SAVED PLACES -->
    <div class="sp-map" id="sp-map"></div>

<!-- HIDDEN VALUE -->
<input type="hidden" id="trip-id" value="{{ trip.trip_id }}">
<input type="hidden" id="trip-lat" value="{{ trip.trip_lat }}">
<input type="hidden" id="trip-lng" value="{{ trip.trip_lng }}">


<!-- END FLUID CONTAINER -->
</div>

<!-- JS SCRIPT TAGS -->
<script src="/static/js/sp-map.js"></script>
<script async 
src="https://maps.googleapis.com/maps/api/js?key={{ YOUR_API_KEY }}&libraries=places&callback=initMap&v=beta&libraries=marker">
</script>

{% endblock %}

