{% extends 'base.html' %}
{% block title %}🗺️ Trip Planner{% endblock %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link href="/static/css/maps.css" rel="stylesheet">
<style>
    .place-img {
        width: 100%;
    }
    #place-info-menu {
        display: none;
    }
</style>
{% endblock %}

<!-- NAVBAR -->
{% include 'navbar.html' %}

<!-- BODY START/ FLUID CONTAINER START -->
{% block body %}
<div class="container-fluid">

    <!-- TITLE/TRIP NAME -->
    <div class="row">
        <div id="planner-title">
            <h1>Trip Planner: <span class="trip-name">{{ trip.trip_name }} </span></h1>
        </div> 
    </div>
    
    <!-- TRIP CITY, COUNTRY -->
    <div class="row">
        <div id="trip-place">
            <h3>
                <span id="trip-city">
                    {{ trip.trip_city }}
                </span>, <span id="trip-country">
                    {{ trip.trip_country }}
                </span>
            </h3>
        </div>
    </div>


    <!-- TRAVEL DATES -->
    <div class="row">
        <div class="col">
            <div id="trip-dates">
                <h4>
                    {{ trip.start_date.strftime('%b %d %Y') }} - {{ trip.end_date.strftime('%b %d %Y') }}
                </h4>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <a href="/trip_details/{{ trip.trip_id }}">Back to Trip Details</a>
        </div>
        <div>
            <a href="/saved_places_map/{{ trip.trip_id }}">See Map of all Saved Places</a>
        </div>
        <div class="col-6">
            <div id="search-bar">
                <label for="search-bar">Search for a place:</label>
                <input type="text" id="place-search" name="place-search">
                <input type="submit" id="submit-search" value="Search">   
            </div>
        </div> 
    </div>

    
    <!-- HIDDEN VALUE -->
    <input type="hidden" id="trip-id" value="{{ trip.trip_id }}">
    
    
    <!-- MAP and PLACE INFO BOX-->
    <div class="row">
        <div class="col-9">
            <div class="map" id="map"></div>
        </div>
        <div class="col-3">
            <div class="place-data" id="place-data"></div>

            <div id="place-info-menu" >
                  <form id="save-place-db" action="/save-place">
                    <!-- CATEGORY SELECTION -->
                    <select id="category" name="category">
                        <option value="">Choose a place category</option>
                        <option value="Breakfast">Breakfast Spot</option>
                        <option value="Lunch">Lunch Place</option>
                        <option value="Dinner">Dinner Spot</option>
                        <option value="Streetfood">Street Food or Snack</option>
                        <option value="Dessert">Dessert place</option>
                        <option value="Cafe">Cafe</option>
                        <option value="Nightlife">Nightlife</option>
                        <option value="Bar/Pub">Bar or Pub</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Groceries">Grocery Store</option>
                        <option value="Convenience Store">Convenience Store</option>
                        <option value="Outdoor Market">Outdoor Market or Farmer's Market</option>
                        <option value="Covered Market">Covered Market or Bazaar</option>
                        <option value="Bookstore/Library">Bookstore or Library</option>
                        <option value="Train Station">Train Station</option>
                        <option value="Museum">Museum</option>
                        <option value="Landmark">Historical landmark</option>
                        <option value="Photo Spot">Photo Spot</option>
                        <option value="Temple/Shrine/Worship">Temple/Shrine/Worship</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Music">Music Venue</option>
                        <option value="Hot Spring">Sento/Onsen/Hot Spring</option>
                        <option value="Beach">Beach</option>
                        <option value="Park">Park</option>
                        <option value="Hiking">Hiking Trail</option>
                        <option value="Surfing">Surf Spot</option>
                        <option value="Workspace">Workspace</option>
                        <option value="COVID Testing">COVID Testing center</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                    </select> 
                    <br>
                    <!-- SPECIAL NOTES -->
                    <label for="notes">Notes:</label>
                    <input type="text" id="notes" name="notes">

                    <p>
                    </p>
                    <!-- ADD TO ITINERARY -->
                    <select id="in-itinerary" name="in-itinerary">
                        <option value="">Add to itinerary (optional)</option>
                        {% for date in travel_dates %}
                        <option value="{{ date }}">{{ date }}</option>
                        {% endfor %}
                    </select>

                    <!-- HIDDEN ITEMS -->
                    <input type="hidden" id="trip-lat" value="{{ trip.trip_lat }}">
                    <input type="hidden" id="trip-lng" value="{{ trip.trip_lng }}">
                    
                    <!-- SUBMIT BUTTON -->
                    <input type="submit" value="Save Place">
                  </form>
                </div>
            <div class="place-results"></div> 
        </div>             
    </div>


<!-- END FLUID CONTAINER -->
</div>

<!-- JS SCRIPT TAGS -->
<script src="/static/js/map.js"></script>
<script async 
src="https://maps.googleapis.com/maps/api/js?key={{ YOUR_API_KEY }}&libraries=places&callback=initMap&v=beta&libraries=marker">
</script>


{% endblock %}