{% extends 'base.html' %}
{% block title %}Trip Details{% endblock %}

{% block head %}
<style>
    #date-tables {
        border: 1px solid black;
    }
    td,tr, tbody {
        border: 1px solid black;
    }
    #place-name {
        border: 1px solid black;
        border-bottom: 1px solid black;
    }
</style>
{% endblock %}

<!-- NAVBAR -->
{% include 'navbar.html' %}


<!-- START BODY/FLUID CONTAINER -->
{% block body %}
<div class="container-fluid">

    <!-- TITLE/TRIP NAME -->
    <div class="row">
        <div id="trip-details-header">
            <h1>
                Trip Details: <span class="trip-name">{{ trip.trip_name }}</span>
            </h1>
        </div>
    </div>
   
    
    <div class="row">
        <!-- TRIP CITY, COUNTRY -->
        <div id="trip-place">
            <h2>
                {{ trip.trip_city }} , {{ trip.trip_country }}
            </h2>
        </div>
    </div>

    <div class="row">
        <!-- TRAVEL DATES -->
        <div id="trip-dates">
            <h3>
                {{ trip.start_date.strftime('%b %d %Y') }} - {{ trip.end_date.strftime('%b %d %Y') }}
            </h3>
        </div>
    </div>

    <div class="row">
        <!-- LINK TO TRIP PLANNER FOR TRIP IF TRIP IS 'UPCOMING' -->
        {% if upcoming == True %}
        <div id="edit-trip">
            <a href="/trip_planner/{{ trip.trip_id }}">Edit trip in Trip Planner</a>
        </div>
        {% endif %}
    </div>
  

    <div class="row">
        <div class="col">
            <!-- ITINERARY TABLES -->
            <div id="itinerary">
                <h4>
                    Itinerary
                </h4>    
            </div>
        </div>

        <div class="row">
            {% for date in travel_dates %}
            <div class="col">
            <table class="table  table-hover" id="date-tables">
                <thead>
                    <tr>
                        <th scope="col">
                            {{ date }}
                        </th>
                    </tr> 
                </thead>
                <tbody>
                    {% if date in places_by_day %}
                        {% for place in places_by_day[date] %}   
                                <tr>
                                    <td>
                                        {{ place.place_name }}
                                    </td>
                                </tr>
                        {% endfor %}   
                    {% endif %}       
                </tbody>                               
            </table>
            </div>
            {% endfor %}
        </div>

        <div class="col">
            <!-- SAVED PLACES TABLE -->
            <div id="saved-places">
                <h4>
                    Saved Places for {{ trip.trip_city }}
                </h4>
                <table id="saved-places-by-trip">
                    {% for category in places_by_category %}
                    <tr>
                        
                        <th>
                            {{ category }}
                        </th>
                        
                    </tr>
                        {% for place in places_by_category[category] %}
                        <tr>
                            <td>
                                {{ place.place_name }}
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

<!-- END FLUID CONTAINER     -->
</div>


<!-- JS SCRIPT TAGS -->

{% endblock %}