{% extends 'base.html' %}
{% block title %}Trip Details{% endblock %}

{% block body %}

<div class="trip-details-header">
    <h1>
        Trip Details
    </h1>
</div>

<div class="trip-title">
    <h2>
        {{ trip_name }}
    </h2>
</div>

<div class="trip-place">
    <h3>
        {{ trip_city }} , {{ trip_country }}
    </h3>
</div>

<div class="trip-dates">
    <h4>
        {{ start_date.strftime('%b %d %Y') }} - {{ end_date.strftime('%b %d %Y') }}
    </h4>
</div>

<div class="itinerary">
    Itinerary tables by day goes here
    <ul>
        {% for activity in activities %}
        <li> 
            {{ activity.place_id }}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="saved-places">
    Saved Places table goes here
</div>

<div class="edit-trip">
    <a href="/trip_planner">Edit trip in Trip Planner</a>
 </div>

<div class="create-trip">
   <a href="/new_trip">Create a new trip</a>
</div>
{% endblock %}