{% extends 'base.html' %}
{% block title %}🤙 Aloha!{% endblock %}
{% block head %}
<style>
    #profile-pic {
        border-radius: 60% 40% 64% 36% / 56% 58% 42% 44%;
        width: 200px;
        height: 200px; 
    }
    .card {
        display: grid;
        height: 250px;
        text-shadow: 0 1px 3px rgba(0,0,0,0.6);
        background-size: cover !important;
        color: white;
        position: relative;
        border-radius: 35px;
        margin-bottom: 20px;
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
        background-image: url('/static/img/avatars/purple-profile.png');
    }
    .user-avatar {
        width: 30px;
        height: auto;
        border-radius: 60% 40% 64% 36% / 56% 58% 42% 44%;
    }
    .card-user {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    #trip-profile-img {
        width: 60px;
        height: auto;
        border-radius: 60% 40% 64% 36% / 56% 58% 42% 44%;    
    }
    .card-city {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
    }
    .card-dates {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .card-dates p {
        font-size: 15px;
    }
    .card-link {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index:2;
        background: black;
        opacity: 0;
    }
    .card-link:hover{
        opacity: 0.1;
        border-radius: 35px;
    }
</style>
{% endblock %}

<!-- NAVBAR -->
{% include 'navbar-noprof.html' %}

<!-- BODY START/FLUID CONTAINER START -->
{% block body %}
<div class="container-fluid">

    <!-- WELCOME AND PROFILE PIC     -->
    <div class="row">
        <div class="col">
            <div class="welcome">
                <h1>
                    Welcome, {{ user.fname }}!
                </h1>
            </div>
            <!-- NEW TRIP LINK --> 
            <div>
                <a href="/new_trip">Create new trip</a>
            </div>
        </div>
        <div class="col">
            
            <img src="{{ user.profile_img }}" id="profile-pic">
            
            <form action="/api/post-form-data" method="post" enctype="multipart/form-data">
                <input type="file" id="profile-img-upload" name="profile-img">
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
    
    <!-- UPCOMING TRIPS LIST -->
    <div class="row">
        <h2>Upcoming Trips:</h2>
    </div>

    <div class="row">
        {% for trip in upcoming %} 
        <div class="col-xs-12 col-sm-4">
            <a href="/trip_details/{{ trip.trip_id }}">
            <div class="card">
                <div class="card-city">
                        {{ trip.trip_name }}
                </div>
                <div class="card-dates">
                    <p>
                        ({{ trip.start_date.strftime('%b %d %Y') }} - {{ trip.end_date.strftime('%b %d %Y') }})
                    </p> 
                </div>
                <div class="user-avatar">
                    <img class="card-user" src="{{ user.profile_img }}" id="trip-profile-img">
                </div>
                <div class="card-link">
    
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
    
    <!-- PAST TRIPS LIST -->
    <div>
        <h2>Past Trips:</h2>
        <ul>
            {% for trip in past %}
            <li> 
                <a href="/trip_details/{{ trip.trip_id }}">
                    {{ trip.trip_name }}
                </a>
                ({{ trip.start_date.strftime('%b %d %Y') }} - {{ trip.end_date.strftime('%b %d %Y') }})
            </li>
            {% endfor %}
        </ul>
    </div>
<!-- END FLUID CONTAINER --> 
</div>

<!-- JS SCRIPT TAGS -->
{% endblock %}