{% extends 'base.html' %}
{% block title %}🤙 Aloha!{% endblock %}
{% block head %}
<style>
    #profile-pic {
        border-radius: 60% 40% 64% 36% / 56% 58% 42% 44%;
        width: 200px;
        height: 200px; 
    }
    #friend-profile-pic {
        border-radius: 60% 40% 64% 36% / 56% 58% 42% 44%;
        width: 100px;
        height: 100px;
    }
    #friend-search-box {
        display: none;
    }
    .card {
        display: flex;
        width: 350px;
        height: 350px;
        text-shadow: 0 1px 3px rgba(0,0,0,0.6);
        background-size: cover !important;
        color: white;
        position: relative;
        border-radius: 35px;
        margin-bottom: 20px;
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
        background-image: url('/static/img/cards/suitcase.png');
    }
    .user-avatar {
        width: 30px;
        height: auto;
        border-radius: 60% 40% 64% 36% / 56% 58% 42% 44%;
        display: inline-block;
    }
    .card-user {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    #trip-profile-img {
        width: 60px;
        height: auto;
        border-radius: 60% 40% 64% 36% / 56% 58% 42% 44%;    
    }

    .card-city {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        font-family: 'Casty Demo';
        color: #e6ffcc;
    }
    .card-dates {
        position: absolute;
        bottom: 0px;
        left: 10px;
    }
    .card-dates p {
        font-size: 20px;
        color: #e6ffcc;
        font-family: 'Casty Demo';
    }
    .card-link {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index:2;
        background: wheat;
        opacity: 0;
    }
    .card-link:hover{
        opacity: 0.2;
        border-radius: 35px;
    }
    h1 {
        font-family: 'Deserved';
        font-size: 58px;
    }
    h2 {
        font-family: 'Deserved';
        font-size: 47px;
    }
    h3 {
        font-family: 'Casty Demo';
        font-size: 36px;
    }
    h5 {
        font-family: 'Casty Demo';
        font-size: 24px;
    }
    .travel-ohana {
        display: grid;
    }
    
</style>
{% endblock %}

<!-- NAVBAR -->
{% include 'navbar-noprof.html' %}

<!-- BODY START/FLUID CONTAINER START -->
{% block body %}
<div class="container-fluid">

    <!-- WELCOME AND PROFILE PIC -->
    <div class="row">
        <div class="welcome">
            <h1>
                Welcome, {{ user.fname }}!
            </h1>
        </div>
    </div>
        <!-- NEW TRIP LINK --> 
    <div class="row">
        <div>
            <a href="/new_trip">Create new trip</a>
        </div>
    </div>

    <!-- UPCOMING TRIPS LIST -->
    <div class="row">
        <h2>Your Upcoming Trips:</h2>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="row">
                {% for trip in upcoming %}
                <div class="col-xs-12 col-sm-4">
                    <a href="/trip_details/{{ trip.trip_id }}">
                    <div class="card">
                        <div class="card-city">
                                {{ trip.trip_name }}
                        </div>
                        <div class="card-dates">
                            <p>
                                {{ trip.start_date.strftime('%b %d') }} - {{ trip.end_date.strftime('%b %d %Y') }}
                            </p> 
                        </div>
                        <div class="user-avatar">
                            {% for friend in trip.users %}
                            <img class="card-user" src="{{ friend.profile_img }}" id="trip-profile-img">
                            {% endfor %}
                        </div>
                        <div class="card-link">
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div> 
                <!-- PAST TRIPS LIST -->
            <div class="row">
                <h2>Your Past Trips:</h2>
            </div>

            <div class="row">
            {% for trip in past %} 
                <div class="col-xs-12 col-sm-4">
                    <a href="/trip_details/{{ trip.trip_id }}">
                    <div class="card">
                        <div class="card-city">
                                {{ trip.trip_name }}
                        </div>
                        <div class="card-dates">
                            <p>
                                {{ trip.start_date.strftime('%b %d') }} - {{ trip.end_date.strftime('%b %d %Y') }}
                            </p> 
                        </div>
                        <div class="user-avatar">
                            {% for friend in trip.users %}
                            <img class="card-user" src="{{ friend.profile_img }}" id="trip-profile-img">
                            {% endfor %}
                        </div>
                        <div class="card-link">
            
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>

        <!-- SHARED UPCOMING TRIPS LIST -->
    <div class="row">
        <h2>Your Shared Upcoming Trips:</h2>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="row">
                {% for trip in shared_upcoming %}
                <div class="col-xs-12 col-sm-4">
                    <a href="/trip_details/{{ trip.trip_id }}">
                    <div class="card">
                        <div class="card-city">
                                {{ trip.trip_name }}
                        </div>
                        <div class="card-dates">
                            <p>
                                {{ trip.start_date.strftime('%b %d') }} - {{ trip.end_date.strftime('%b %d %Y') }}
                            </p> 
                        </div>
                        <div class="user-avatar">
                            <img class="card-user" src="{{ user.profile_img }}" id="trip-profile-img">
                        </div>
                        <div class="card-link">
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div> 
                <!-- SHARED PAST TRIPS LIST -->
            <div class="row">
                <h2>Your Shared Past Trips:</h2>
            </div>

            <div class="row">
            {% for trip in shared_past %} 
                <div class="col-xs-12 col-sm-4">
                    <a href="/trip_details/{{ trip.trip_id }}">
                    <div class="card">
                        <div class="card-city">
                                {{ trip.trip_name }}
                        </div>
                        <div class="card-dates">
                            <p>
                                {{ trip.start_date.strftime('%b %d') }} - {{ trip.end_date.strftime('%b %d %Y') }}
                            </p> 
                        </div>
                        <div class="user-avatar">
                            {% for friend in trip.users %}
                            <img class="card-user" src="{{ friend.profile_img }}" id="trip-profile-img">
                            {% endfor %}
                        </div>
                        <div class="card-link">
            
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
        <!-- PROFILE PICTURE AND UPLOAD PHOTO BUTTON -->
        <div class="col-2">
            
            <h3>Your Profile Picture</h3>
            <img src="{{ user.profile_img }}" id="profile-pic">
            <p></p>
            <form action="/api/profile_img" method="post" enctype="multipart/form-data">
                <h5>New pic?</h5>
                <input type="file" id="profile-img-upload" name="profile-img">
                <input type="submit" value="Upload 📷">
            </form>
        </div>

        <div class="col-2">
            <h3>Your Travel 'Ohana</h3>
            <div class="row">
                <div class="travel-ohana">
                    {% for friend in user.following %}
                    <div class="col">
                        <h5>
                            {{ friend.fname }} 
                        </h5>
                        <img src="{{ friend.profile_img }}" id="friend-profile-pic"> 
                    </div>
                    {% endfor %}
                </div>
            </div>

            <form action="/find_friends" id="friend-search-box" method="POST">
                <h5>Find someone by email:</h5>
                <input type="text" id="friend-search" name="friend-search">
                <input type="submit" id="submit-friend-search" value="Find 'Em"> 
            </form>

          
            <button type="button" id="add-ohana-button">Add someone to your Travel 'Ohana</button>
            

        </div>
    </div>
</div>


    

<!-- HIDDEN VALUE -->
<input type="hidden" id="user-id" value="{{ user.user_id }}">
   
<!-- END FLUID CONTAINER --> 
</div>

<!-- JS SCRIPT TAGS -->
<script src="/static/js/user_profile.js"></script>
{% endblock %}